/* p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

#delete-form {
  float: left;
} */

/* .background-blue {
  background-color: rgb(236, 246, 249);
} */

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5f6368;
  opacity: 1; /* Firefox */
}
